body {
  height: 100%; }

.g-sld {
  height: 100%;
  position: relative;
  padding: 0;
  overflow: hidden; }

div.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 99; }

.btn-return {
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50%;
  width: 100px;
  height: 36px;
  z-index: 0;
  background: url("../img/bk-icon.png") -40px 0px; }

.m-sld {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 100; }
  .m-sld .inner {
    width: 6500px;
    overflow: hidden;
    height: 100%;
    z-index: 1; }
  @media (max-width: 788px) {
    .m-sld .inner {
      width: 5500px;
      overflow: hidden;
      height: 100%;
      z-index: 1; } }
  .m-sld .list-item {
    float: left;
    position: relative;
    width: 280px;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center; }
    .m-sld .list-item img {
      height: 100%; }
    .m-sld .list-item.hover-before {
      left: -3em; }
    .m-sld .list-item.hover-after {
      left: 3em; }
    .m-sld .list-item.hover {
      width: 36em;
      left: -3em; }
    .m-sld .list-item .shade {
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: .8; }
      @media (max-width: 1025px) {
        .m-sld .list-item .shade {
          opacity: .4; } }
  .m-sld #step-1 {
    background: black url("../img/yingda/01.jpg") no-repeat center; }
  .m-sld #step-2 {
    background: black url("../img/yingda/02.jpg") no-repeat center; }
  .m-sld #step-3 {
    background: black url("../img/yingda/03.jpg") no-repeat center; }
  .m-sld #step-4 {
    background: black url("../img/yingda/04.jpg") no-repeat center; }
  .m-sld #step-5 {
    background: black url("../img/yingda/05.jpg") no-repeat center; }
  .m-sld #step-6 {
    background: black url("../img/yingda/06.jpg") no-repeat center; }
  .m-sld #step-7 {
    background: black url("../img/yingda/07.jpg") no-repeat center; }
  .m-sld #step-8 {
    background: black url("../img/yingda/08.jpg") no-repeat center; }
  .m-sld #step-9 {
    background: black url("../img/yingda/09.jpg") no-repeat center; }
  .m-sld #step-10 {
    background: black url("../img/yingda/10.jpg") no-repeat center; }
  .m-sld #step-11 {
    background: black url("../img/yingda/11.jpg") no-repeat center; }
  .m-sld #step-12 {
    background: black url("../img/yingda/12.jpg") no-repeat center; }
  .m-sld #step-13 {
    background: black url("../img/yingda/13.jpg") no-repeat center; }
  .m-sld #step-14 {
    background: black url("../img/yingda/14.jpg") no-repeat center; }
  .m-sld #step-15 {
    background: black url("../img/yingda/15.jpg") no-repeat center; }
  .m-sld #step-16 {
    background: black url("../img/yingda/16.jpg") no-repeat center; }
  .m-sld #step-17 {
    background: black url("../img/yingda/17.jpg") no-repeat center; }
  .m-sld #step-18 {
    background: black url("../img/yingda/18.jpg") no-repeat center; }
  .m-sld #step-19 {
    background: black url("../img/yingda/19.jpg") no-repeat center; }

.g-sld .flexslider {
  background: #000;
  position: absolute;
  left: 0;
  display: table;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 1; }
  .g-sld .flexslider li {
    padding-top: 10px;
    padding-bottom: 10px; }
  .g-sld .flexslider .slides {
    display: table-cell;
    vertical-align: middle; }
