/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial, \5b8b\4f53;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

/* function */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb, .f-cbli li {
  zoom: 1; }

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.f-dn {
  display: none; }

.f-db {
  display: block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.f-prz {
  position: relative;
  zoom: 1; }

.f-oh {
  overflow: hidden; }

.f-ff0 {
  font-family: arial, \5b8b\4f53; }

.f-ff1 {
  font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }

.f-fs1 {
  font-size: 12px; }

.f-fs2 {
  font-size: 14px; }

.f-fwn {
  font-weight: normal; }

.f-fwb {
  font-weight: bold; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

.f-vam, .f-vama * {
  vertical-align: middle; }

.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

.f-ti2 {
  text-indent: 2em; }

.f-lhn {
  line-height: normal; }

.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

.f-tdn, .f-tdn:hover {
  text-decoration: none; }

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

.f-csp {
  cursor: pointer; }

.f-csd {
  cursor: default; }

.f-csh {
  cursor: help; }

.f-csm {
  cursor: move; }

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
html, body {
  height: 100%;
  background: #1e1e1e; }

.g-bd {
  width: 100%;
  min-height: 100%;
  max-width: 1440px;
  background-color: #fff;
  padding-left: 60px;
  padding-bottom: 60px; }

.g-bd-white {
  background-color: #fff; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.u-banner {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%; }

.img-circle {
  border-radius: 50%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

.g-tab {
  background: #fff;
  padding-top: 80px; }

.m-tab .nav-tabs a {
  display: block;
  background-color: #dcdddd;
  text-align: center;
  height: 80px;
  overflow: hidden;
  border-right: 1px solid #fff;
  font-size: 18px;
  color: #727171; }
  .m-tab .nav-tabs a h2 {
    padding: 30px 0; }
  .m-tab .nav-tabs a img {
    float: left;
    margin-left: 20%;
    margin-right: -6%; }
.m-tab .nav-contents {
  min-height: 939px; }
  .m-tab .nav-contents h3 {
    text-align: center;
    line-height: 30px;
    color: #727171;
    font-size: 14px; }
  .m-tab .nav-contents .airpal-icon {
    padding: 20px 0 30px 0; }
  .m-tab .nav-contents img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 300px; }
.m-tab .tab-pane {
  display: none; }
.m-tab .tab-pane.active {
  display: block; }
.m-tab a.active {
  background-color: #35bcea;
  color: #fff; }
.m-tab .detail {
  height: 422px;
  border: 1px solid #f8f8f8;
  margin-bottom: 25px;
  overflow: hidden; }
.m-tab .sel-icon {
  text-align: center;
  margin-top: 200px; }
  .m-tab .sel-icon i {
    font-size: 30px;
    color: #34bcea; }
.m-tab .detail.z-sel {
  background-color: #f7f8f8; }
  .m-tab .detail.z-sel .airpal-icon img {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .m-tab .detail.z-sel .sel-icon {
    position: relative;
    top: -60px;
    width: 32px;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .m-tab .detail.z-sel .sel-icon i {
      height: 30px;
      font-size: 30px;
      color: #34bcea;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px; }
  .m-tab .detail.z-sel .sel-icon:hover, .m-tab .detail.z-sel .sel-icon:active {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
.m-tab .nav-divide {
  background-color: #dcdddd;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 30px 0 30px 0; }
.m-tab .pagination {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
  padding: 13px 17px 13px 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  background-color: #dcdddd;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  float: right; }

@font-face {
  font-family: 'iconfont';
  src: url("font/iconfont.eot");
  /* IE9*/
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-zhuoyuefuwuzi:before {
  content: "\e65d"; }

.icon-zuixiaokeliwu:before {
  content: "\e653"; }

.icon-xinshengshejitu:before {
  content: "\e66c"; }

.icon-youhua:before {
  content: "\e685"; }

.icon-ECOzidongmoshi:before {
  content: "\e684"; }

.icon-gaoxiaojieneng:before {
  content: "\e683"; }

.icon-jinghualv:before {
  content: "\e682"; }

.icon-miejunlv:before {
  content: "\e680"; }

.icon-weiganhongkongping:before {
  content: "\e67f"; }

.icon-tongsuo:before {
  content: "\e67e"; }

.icon-zuixiaokeliwu1:before {
  content: "\e67d"; }

.icon-qingganxinlaitu:before {
  content: "\e67b"; }

.icon-lingxianchuangxintu:before {
  content: "\e66f"; }

.icon-lingxianchuangxinzi:before {
  content: "\e671"; }

.icon-zhuoyuefuwuzi1:before {
  content: "\e673"; }

.icon-zhuoyuefuwutu:before {
  content: "\e672"; }

.icon-xinshengshejitu1:before {
  content: "\e674"; }

.icon-xinshengshejizi:before {
  content: "\e675"; }

.icon-shigantiyantu:before {
  content: "\e676"; }

.icon-shigantiyanzi:before {
  content: "\e67a"; }

.icon-qingganxinlaizi:before {
  content: "\e67c"; }

.icon-jiaquanquchulv:before {
  content: "\e648"; }

.icon-huanrao3Dchufengxitong:before {
  content: "\e647"; }

.icon-jinghuamokuaixuanze:before {
  content: "\e64a"; }

.icon-lingchouyangpaifang:before {
  content: "\e64b"; }

.icon-zengjiajijingkongqiliang:before {
  content: "\e650"; }

.icon-wulishijinhua:before {
  content: "\e64f"; }

.icon-zhihuiyunguanli:before {
  content: "\e651"; }

.icon-zhinengduandian:before {
  content: "\e652"; }

.icon-chaojingyin:before {
  content: "\e654"; }

.icon-huanbao:before {
  content: "\e639"; }

.icon-jieneng:before {
  content: "\e63c"; }

.icon-jiantou:before {
  content: "\e63b"; }

.icon-renxinghua:before {
  content: "\e63d"; }

.icon-zhoubianchanpin:before {
  content: "\e63f"; }

.icon-anquan:before {
  content: "\e640"; }

.icon-zhuanye:before {
  content: "\e642"; }

.icon-gaoxiao:before {
  content: "\e641"; }

.icon-benxiwuquchulv:before {
  content: "\e644"; }

.icon-airpal:before {
  content: "\e634"; }

.icon-healthyairdashi:before {
  content: "\e636"; }

.icon-airpalxilie:before {
  content: "\e635"; }

.icon-fuwuzhongxin:before {
  content: "\e638"; }

.icon-chuangyizhongxin:before {
  content: "\e637"; }

.icon-jiankangkongqidashi:before {
  content: "\e63a"; }

.g-list1 {
  margin-top: 80px; }

.m-list1 .img {
  overflow: hidden; }
.m-list1 img {
  width: 100%;
  overflow: hidden;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
.m-list1 .tt {
  overflow: hidden;
  padding: 30px 0;
  height: 80px;
  background: #35bcea;
  text-align: center;
  font-size: 18px;
  color: #fff; }
.m-list1 .ct {
  height: 146px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #35bcea;
  padding: 25px;
  line-height: 1.5;
  word-break: break-all; }

.m-list1:hover .img img {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
.m-list1:hover .ct {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #d6f2fb; }

.g-sld {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  padding: 0; }

.btn-return {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  width: 200px;
  height: 200px;
  z-index: 99;
  background: greenyellow; }

.m-sld {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 100; }
  .m-sld .inner {
    width: 2700px;
    overflow: hidden;
    height: 100%;
    z-index: 113; }
  .m-sld .list-item {
    position: absolute;
    width: 360px;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center; }
    .m-sld .list-item img {
      height: 100%; }
    .m-sld .list-item.hover-before {
      left: -3em; }
    .m-sld .list-item.hover-after {
      left: 3em; }
    .m-sld .list-item.hover {
      width: 36em;
      left: -3em; }
  .m-sld #step-1 {
    margin-left: 0em;
    background: black url("../img/list-1.jpg") no-repeat center; }
  .m-sld #step-2 {
    margin-left: 25em;
    background: black url("../img/list-2.jpg") no-repeat center; }
  .m-sld #step-3 {
    margin-left: 50em;
    background: black url("../img/list-3.jpg") no-repeat center; }
  .m-sld #step-4 {
    margin-left: 75em;
    background: black url("../img/list-4.jpg") no-repeat center; }
  .m-sld #step-5 {
    margin-left: 100em;
    background: black url("../img/list-5.jpg") no-repeat center; }
  .m-sld #step-6 {
    margin-left: 125em;
    background: black url("../img/list-1.jpg") no-repeat center; }
  .m-sld #step-7 {
    margin-left: 150em;
    background: black url("../img/list-1.jpg") no-repeat center; }
  .m-sld #step-8 {
    margin-left: 175em;
    background: black url("../img/list-1.jpg") no-repeat center; }
  .m-sld #step-9 {
    margin-left: 200em;
    background: black url("../img/list-1.jpg") no-repeat center; }

.g-sld .flexslider {
  background: #000;
  padding: 0 15px;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 95%;
  overflow: hidden;
  z-index: 1; }
  .g-sld .flexslider li {
    padding-top: 10px;
    padding-bottom: 10px; }
