.g-sld{
    height: 100%;
}

.m-sld{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .list-item{
        position: absolute;
        width: 30em;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        @include transition(width .3s ease-out, left .3s ease-out);

        img{
        }
        &.hover-before{
            left: -3em;
            @include transition(all .3s ease-out);
        }
        &.hover-after{
            left: 3em;
            @include transition(all .3s ease-out);
        }
        &.hover{
            width: 36em;
            left: -3em;
            @include transition(all .3s ease-out);
        }
    }
    #step-1{
        margin-left: 0em;
        background: url("../img/list-1.jpg") no-repeat center;
    }
    #step-2{
        margin-left: 25em;
        background: url("../img/list-2.jpg") no-repeat center;
    }
    #step-3{
        margin-left: 50em;
        background: url("../img/list-3.jpg") no-repeat center;
    }
    #step-4{
        margin-left: 75em;
        background: url("../img/list-4.jpg") no-repeat center;
    }
    #step-5{
        margin-left: 100em;
        background: url("../img/list-5.jpg") no-repeat center;
    }
    #step-6{
        margin-left: 125em;
        background: url("../img/list-1.jpg") no-repeat center;
    }

}

#z-detail{
    .before-click{
        @include transition(all 1s ease-in);
        margin: 0;
        left: -100%;
    }
    .after-click{
        @include transition(all 1s ease-in);
        left: 100%;
    }
}


