html, body{
    height: 100%;
    background: #1e1e1e;
}

.g-bd{
    width: 100%;
    min-height: 100%;
    max-width: 1440px;
    background-color: #fff;
    padding-left: 60px;
    padding-bottom: 60px;
}

.g-bd-white{
    background-color: #fff;
}